.contact-form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 10px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  border: none;
  background-color: #a1ef8b;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 600;
  color: #181818;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.8;
}