.nav-container {
  padding-top: 20px;
  margin: 0 auto;
}

.nav-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-items a::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-items a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.nav-items a.active {
  color: var(--btn-color);
}

@media (max-width: 500px) {
  .nav-container nav {
    justify-content: center;
    flex-direction: column;
  }

  .nav-items a {
    font-size: 1rem;
    gap: 5px;
  }

  .logo {
    padding-bottom: 10px;
  }
}
