.nav-container {
  margin-top: 15px;
}

.nav-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container img {
  width: 60px;
  cursor: pointer;
}

.nav-items a {
  position: relative;
  margin-left: 15px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.nav-items a::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-items a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.nav-items a.active {
  color: var(--btn-color);
}
